page-home {
    ion-content{
        background-image: url('../../assets/imgs/Background-home.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        width:100%;
    }

    .nav-bar{
        display: inline-flex;
        width: 100%;
        padding: 10px;
    }

    .menu{
        width: 50%;
        color: white;
    }
    .menu a{
        color: white;
        text-decoration: none;
    }
    .ayuda{
        width: 50%;
        
        text-align: end;
    }
    .ayuda a{
        color: white;
        text-decoration: none;
    }
    .ayuda a:hover{
        cursor: pointer;
    }

    .logo{
        padding: 20px;
        width: 90%;
        text-align: center;
        margin: auto;
    }

    .boton{
        margin: auto;
        width: 90%;
        text-align: center;
    }
    .boton ion-buttons button{
        background-color: #d33034;
        color: white;
    }
    .boton ion-buttons button:hover{
        color: #ddf504;
        background-color: white;
    }

    .texto{
        width: 90%;
        text-align: center;
        color: white;
        margin: auto;
    }

    .texto p{
        font-size: 1.5em;
    }


}
