page-noticia {
    .sociales{
        text-align: center;
    }

    #facebook{
        color: rgb(38, 38, 39);
        font-size: 30px;
        padding: 10px;
    }

    #twitter{
        color: rgb(38, 38, 39);
        font-size: 30px;
    }

}
